body {
  margin:0;
  font-family:Arial;
  background:#393a2e;
  color:#d8c9a7;
  text-align:center;
}

.logo {
  height:100px;
  margin:20px;
}

section {
  padding:60px 20px;
}

h1,h2 {
  color:#ffa239;
}

.grid {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.card {
  background:#4e513f;
  border-radius:15px;
  overflow:hidden;
}

.card img {
  width:100%;
}

.contact-box {
  border:1px solid rgba(216,201,167,.2);
  background:rgba(216,201,167,.08);
  border-radius:28px;
  padding:40px;
}

.contact-links {
  display:flex;
  flex-direction:column;
  gap:15px;
  margin-top:20px;
}

.contact-item {
  padding:15px;
  border-radius:10px;
  background:#4e513f;
  color:#d8c9a7;
  font-weight:bold;
}

.contact-item:hover {
  background:#ffa239;
  color:#393a2e;
}

footer {
  padding:30px;
}
